body {
    font-family: Arial, sans-serif;
}

.container {
    width: 25%;
    margin: auto;
    border: 1px solid #0000;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    background-color: rgb(80, 200, 255);
    padding: 10px;
    border: 1px solid black;
}

h2 {
    background-color: aquamarine;
    border-bottom: 2px solid black;
}

.seccion {
    margin-bottom: 20px;
}

.foto {
    float: right;
    border: 2px dashed black;
    width: 150px;
    height: 150px;
    text-align: center;
}

